body {
    background-color: black;
    color: white;
    margin: 2% 2%;
    /*width: fit-content;*/
    font-family: monospace;
    font-size: 16px;
}

li {
    font-size: 24px;
    list-style-type: none;
}

a {
    color: #e00707;
    text-decoration: none;
}

a:hover {
    color: cyan;
}

h1 {
    font-size: 36px;
    color: #008282;
}

h2 {
    font-size: 28px;
    color: #008282;
}
